/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	GRAPHIC ELEMENTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Dividers 
.divider-styled {
	width: 100px;
	border-top: 2px solid $color-red;
	margin-top: 100px;
	margin-bottom: 100px;
}



// Figures
.figure-images {
	&.pull-right {
		margin-left: 20px;
	}
	&.pull-left {
		margin-right: 20px;
	}
}