/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	GRAPHIC ELEMENTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Dividers 
.divider-styled {
	width: 100px;
	border-top: 2px solid $color-red;
	margin-top: 100px;
	margin-bottom: 100px;
}

// Figures
.figure-images {
	&.pull-right {
		margin-left: $grid-gutter-width;
	}
	&.pull-left {
		margin-right: $grid-gutter-width;
	}
	&.figure-zig-zag {
		.figure-row {
			.img-container:nth-of-type(even) {
					margin-top: $grid-gutter-width;
				
			}
		}
		
	}
}

// Callout box
.content-callout {
	background-color: $color-gray-lighter;
	padding: $padding-large-horizontal $padding-large-horizontal $padding-large-vertical; 
}