/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header-main {
/*	height: 100px;*/
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-list {
	line-height: 46px;
	.emphasize {
		background-color: $color-red;
		color: #fff;
		padding: 10px;
		display: block;
		line-height: 1;
	}
	.emphasize-secondary {
		background-color: $color-slate;
		color: #fff;
		padding: 10px;
		display: block;
		line-height: 1;
	}
	
	
}
