/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header-main {
	padding-top: 25px;
	background-color: rgba(255,255,255,1);
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;	
	&.affix {
		@include box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3)); 
	}
}
.main-logo-container {
	margin-bottom: 25px;
}
.main-logo {
	display: inline-block;
	float: left;
}
.main-logo-icon {
	display: none;
}


@media (max-width: 300px) {	
	.main-logo-icon {
		display: inline-block;
	}
	.main-logo-normal {
		display: none;
	}
}
@media (max-width: $screen-sm-max) {
	.hero-image {
		img {
//			width: 150%;
		}
	}	
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.header-main {
		padding-bottom: 20px;
	}
	.main-logo {
		float: none;
	}	
}
@media (min-width: $screen-md-min) {
	.header-main {
		padding-bottom: 10px;
	}
}






