/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	HERO
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hero {
	overflow: hidden;
	text-align: center;
	background-position: 50% 50%;
	.hero-image {
		img {
			margin-left: -50%;
			margin-right: -50%;
		}
	}
	.section-name {
		border-top: 1px solid $line-color;
		border-bottom: 1px solid $line-color;
		padding: $padding-base-vertical;
		display: inline-block;
		font-weight: bold;
		+ .page-name  {
			margin-top: $padding-base-vertical*2;
		}
	}
	.description {
		margin-top: $padding-base-vertical*3;
	}

}
.hero-text-container {
	background: #FAFAFA url('../images/heros/hero-text-bg.png') left top repeat;
	padding-top: 40px;
	padding-bottom: 40px;
}