/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	LAYOUT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.main-content {
	margin-top: $padding-base-vertical*8;
	&.has-sidenav {
		margin-top: 0;
	}
}

.has-sidenav {
	.sidenav,
	.content-list > .item {
		padding-top: $padding-base-vertical*8;
	}
}

.content-list {

	> .item {
		padding-bottom: $padding-base-vertical*8;
		&:not(:first-child) {
			
		}
		&:first-child {
			
		}
		.heading {
			margin-top: 0;
		}
	}
	.description {
		margin-top: 30px;
	}
	.img-item {
		margin-top: 20px;
	}
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.figure-images {
		.row-main {
			max-height: 330px;
			overflow: hidden;
		}
	}	
}


