/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	LAYOUT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.main-content {
	margin-top: $padding-base-vertical*8;
	&.has-sidenav {
		margin-top: 0;
	}
}

.has-sidenav {
	.sidenav,
	.content-list > .item {
		padding-top: $padding-base-vertical*8;
	}
}

// Content List
.content-list {

	// With Large Section
	&.list-multiple-details  {
		> .item {
			padding-bottom: $padding-base-vertical*8;
			&:not(:first-child) {
				
			}
			&:first-child {
				
			}
			.heading {
				margin-top: 0;
			}
		}
		.description {
			margin-top: 30px;
		}
		.img-item {
			margin-top: 20px;
		}
	}

	// With Large Section
	&.list-single-details {
		margin-top: 30px;
		margin-bottom: 30px;
		> .item {
			margin-top: 10px;
			margin-bottom: 10px;

			
		}
		.description {
			margin-top: 15px;
		}
		.img-item {
			margin-top: 15px;
		}
	}
	.list-nested-1 {
		margin: 0;
		padding-left: 20px;
		> .item {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	
}



@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.figure-images {
		.row-main {
			max-height: 330px;
			overflow: hidden;
		}
	}	
}


