/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	LISTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.list-striped {
	> li:nth-of-type(odd) {
		background-color: $list-striped-bg-color;
	}
}

.list-striped-reversed {
	> li:nth-of-type(even) {
		background-color: $list-striped-bg-color;
	}
}

.list-styled {
	padding-left: 0;

	ul {
		margin: 0 0 0 20px;
			}
	li {
		padding-left: 10px;
		list-style: none;
		&:before {
            content: "-";
            display: inline-block;
            color: $text-color;
            margin-left: -10px;
        }
	}
	> li {
		&:before {
            content: "+";
        }
	}
}
