/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAIN - NAVIGATION  (SMALL)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 0) and (max-width: $screen-xs-max) {

// TESTING - SHOW SUB NAV
// .navbar-collapse { display: block !important; } // TESTING

    // Hamburger
    .navbar-toggle {
        margin: 7px 0 0;
        border: 2px solid $link-color;
        .icon-bar {
            background-color: $link-color;
        }  
    } 

    // Nav container - Override Bootstrap
    .navbar-nav {
        margin: 0 -10px;
        border: none;
    }
    // Nav container - Use Bootstrap
    .navbar-collapse {
        padding: 0;
    }

    // Parent nav links container
    .navbar-list {
        margin-bottom: 0;
        border-top: 1px solid $color-gray-lighter;

        // Parent nav links
        .link {
            font-size: 18px;
            &:not(.expanded) {
                border-bottom: 1px solid $color-gray-lighter;
            }
            

            // Use normal so don't have to override with .emphasized
            &.normal {
                background-color: $color-white;
                &:hover {
                    color: $link-color-dark;
                }
            }
        }
    }

    // Sub nav links container
    .navbar-list-sub {
        border-bottom: 1px solid $color-gray-lighter;
        
        
        &:before {
            text-shadow: $link-color-dark 0 -1px 0;
            top: -8px;
        }

        // Sub nav links
        .link-sub {
            border-top: 1px solid $link-color-dark;
        }
    }
}





