/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NAVIGATION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.navbar-toggle {
    .icon-bar {
        background-color: $color-red;
    }  
} 


.navbar-list {
    font-size: 14px;
    font-family: $font-family-link;
    > .item {
        float: left;
        position: relative;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &:hover {
            .navbar-list-sub {
                display: block;
            }
        }

    }
    .selected {
        .link {
            color: $color-slate;
            border-bottom-color: $link-color;
        }
    }
    
    .link {
        padding: 7px 10px ;
        line-height: 1;
        display: block;
        text-decoration: none; 
        border-bottom: 2px solid transparent;
        &.normal {
            &:hover {
                border-bottom-color: $link-color;
                animation: width 0% > 100%; 
                text-decoration: none;
            }
            &:focus,
            &:active {
                border-bottom-color: transparent;
            }
        }
        
    }
    .emphasize {
        background-color: $color-red;
        color: #fff;
        padding-top: 10px;
        &:hover {
            background-color: $color-red-darker;
        }
        &:focus,
        &:active {
             background-color: $link-focus-color;
        }
    }
    .emphasize-secondary {
        background-color: $link-color;
        color: #fff;
        padding: 10px;
        display: block;
        line-height: 1;
    }
}




.navbar-list-sub {
    position: absolute;
    background-color: #fff;
    border-left: 1px solid $navbar-sub-graphic-color;
    border-right: 1px solid $navbar-sub-graphic-color;
    border-top: 2px solid $link-color;
    margin-top: -2px;

    left: -50%;
    right: -50%;
    display: none;
    .link-sub {
        padding: 10px;
        display: block;
        white-space: nowrap;
        color: $color-slate;
        border-bottom: 1px solid $navbar-sub-graphic-color;
        &:hover {
            background-color: $navbar-sub-graphic-color;
            text-decoration: none;
        }
    }
}




