/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SIDE NAVIGATION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sidenav {
    &.affix {
        position: fixed;
        top: 40px;
    }
}
.sidenav-list {
    > .item {
        margin-bottom: 18px;
        font-size: 18px;
        line-height: 1.2;
        &.active {
            .link {
                color: $link-focus-color;
                text-decoration: none;
                background-color: $navbar-sub-graphic-color;
            }
        }
    }  
} 



@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .sidenav {
        &.affix {
            $col-width: 56.75px;
            $col-count: 4;
            width: ($col-width * $col-count); 
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .sidenav {
        &.affix {
            $col-width: 73.3333px;
            $col-count: 3;
            width: ($col-width * $col-count); 
        }
    }
}

@media (min-width: $screen-lg-min) {
    .sidenav {
        &.affix {
            $col-width: 90px;
            $col-count: 3;
            width: ($col-width * $col-count);
        }
    }
}





