/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAIN - NAVIGATION  (SMALL)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 0) and (max-width: $screen-xs-max) {
//    .navbar-collapse {
//        display: block !important; // TESTING
//    } 
    .navbar-toggle {
        margin: 7px 0 0;
        border: 2px solid $link-color;
        .icon-bar {
            background-color: $link-color;
        }  
    } 
    .navbar-nav {
        margin: 0 -10px;
        border: none;
    }
    .navbar-collapse {
        padding: 0;
    }
    .navbar-list {
        margin-bottom: 0;
        border-top: 1px solid $color-slate;
        .link {
            font-size: 18px;
            border-bottom: 1px solid $color-slate;
            &.normal {
                background-color: $color-white;
                &:hover {
                    color: $link-color-dark;
                    @include box-shadow(inset 5px 0 0 0 $link-color-dark, inset -5px 0 0 0 $link-color-dark);
                }
            }
        }
        > .selected {
            .link {
                
                @include box-shadow(inset 5px 0 0 0 $link-color, inset -5px 0 0 0 $link-color);
                &.expanded {
                    border-bottom: none;
                }
            }
        }
    }
    .navbar-list-sub {
        border-bottom: 1px solid $color-slate;
        &:before {
            // Arrow
            text-shadow: $link-color-dark 0 -1px 0;
            top: -8px;
        }
        .link-sub {
            
            border-top: 1px solid $link-color-dark;
        }
    }
}





