/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    FOOTER NAVIGATION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media (max-width: $screen-xs-max) {
    
    .footer-nav {
        padding-left: 25px;
        list-style-type: disc;
     
        .nav-item {
            display: list-item;
            padding: 0;
        }
        .nav-link {
            &:hover {
                color: $link-color-dark;
            }
        }
    }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .footer-nav {
        margin-top: 20px;
        
    }
}

@media (min-width: $screen-sm-min) {
    .footer-nav {
        padding-left: 0;
        margin-left: -5px;
        .nav-item {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .nav-item {
        &:not(:last-child) {
            a {
                &:after {
                    content: "|";
                    display: inline-block;
                    margin-left: 10px;
                    color: $text-color;
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
//    .footer-nav {
//        float: right;
//    }
}