/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAIN - NAVIGATION  (COMMON - SM & MD+)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

//.item:first-child {
//    .navbar-list-sub {
//        display: block; // TESTING
//    }
//}

.navbar-list {
    font-size: 14px;
    font-family: $font-family-link;
    > .selected {
        .link {
            &.normal,
            &.normal:hover {
                color: $color-slate;
            }
        }
    }
    .link {
        padding: 18px 10px;
        line-height: 1;
        display: block; 
        text-decoration: none; 
        &:hover {
            text-decoration: none;
        }
    }
    .emphasize {
        background-color: $color-red;
        color: $color-white;
        &:hover {
            background-color: $color-red-darker;
        }
        &:focus,
        &:active {
             background-color: $link-focus-color;
        }
    }
}
.navbar-list-sub {
    display: none;
    position: relative;
    &:before {
        // Arrow
        color: $link-color;
        content: '▲';
        width: 14px;
        height: 8px;
        position: absolute;
        font-size: 14px;
        font-family: arial;
        line-height: 1;
        @include scale(1.75, 1);
    }
    .link-sub {
        display: block;
        padding: 18px;
        color: $color-white;
        background-color: $link-color;
        &:hover {
            background-color: $link-color-dark;
            text-decoration: none;
        }
        &.selected {
            background-color: $link-color-dark;
        }
    }
}
