/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAIN - NAVIGATION  (SMALL)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 0) and (max-width: $screen-xs-max) {

// TESTING - SHOW SUB NAV
// .navbar-collapse { display: block !important; } // TESTING

    // Hamburger
    .navbar-toggle-container {
        position: relative;
        padding-right: 90px;
    }
    .navbar-toggle {
        margin: 7px 0 0;
        border: 2px solid $link-color;
        color: $link-color;
        line-height: 1;
        text-transform: uppercase;
        padding: 5px 6px;
        font-size: 14px;
        margin-top: -12px;
        position: absolute;
        top: 50%;
        right: 10px;
        .icon-bar {
            background-color: $link-color;
        }  
        &:hover {
            color: $link-color-emphasize;
            border: 2px solid $link-color-emphasize;
        }
    } 

    // Nav container - Override Bootstrap
    .navbar-nav {
        margin: 20px -20px -20px;
        border: none;
    }
    // Nav container - Use Bootstrap
    .navbar-collapse {
        padding: 0;
        z-index: 6;
    }

    // Parent nav links container
    .nav-menu,
    .navbar-list {
        margin-bottom: 0;
        border-top: 1px solid $line-color;

        // Parent nav links
        > .menu-item {

            > a {
                font-size: 18px;
                &:not(.expanded) {
                    border-bottom: 1px solid $line-color;
                }
            }
            &:not(.emphasize) {
                > a {
                    background-color: $color-white;
                    color: $link-color;
                    &:hover {
                        color: $link-color-emphasize;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    // Sub nav links container
    .sub-menu {
        border-bottom: 1px solid $color-gray-lighter;
        &:before {
            text-shadow: $link-color-emphasize 0 -1px 0;
            top: -8px;
        }

        // Sub nav links
        > .menu-item > a {
            font-size: 18px;
            border-top: 1px solid $link-color-emphasize;

        }
    }
}







