/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SIDE NAVIGATION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sidenav {
    &.affix {
        position: fixed;
        top: 40px;
    }
}
.sidenav-list {
    
    > .item {
        margin-bottom: 18px;
        font-size: 18px;
        line-height: 1.2;
        &.active {
            .link {
                color: $link-focus-color;
                text-decoration: none;
                background-color: $navbar-sub-graphic-color;
            }
        }
    }  
    

} 


