/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	VBYC CUSTOM STYLEGUIDE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.sg-link-hover a {
    @extend a:hover;
    &:hover {
    	text-decoration: underline;
    	border-bottom: none;
    }
}

.sg-link-focus a  {
    @extend a:focus;
    &:hover {
    	text-decoration: none;
    }
    
}

.sg-link-primary-hover .link-primary {
    @extend .link-primary:hover;
    text-decoration: none;
    &:hover {
    	@extend a:hover;
    	text-decoration: none;
    }
}

.sg-link-primary-focus .link-primary  {
    @extend .link-primary:focus;
    text-decoration: none;
    &:hover {
    	@extend a:hover;
    	text-decoration: none;
    	border-bottom: none;
    }
}

.sg-link-primary-focus .link-primary  {
    @extend .link-primary:focus;
    text-decoration: none;
    &:hover {
        @extend a:hover;
        text-decoration: none;
        border-bottom: none;
    }
}

.sq-navigation-dropdown {
    height: 230px;
}





