/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PAGE - ABOUT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#page-about {
    .about-logos {

        .logo {
            max-height: 80px;
            margin: 20px;
        }
    }
    

}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .page-template-contact {
        .container {
            text-align: center;
        }
        .group-2 {
            clear: both;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .page-template-contact {
        .col {
            clear: both;
        }
    }
}

