/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header-main {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255,255,255,1);
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;	
	&.affix {
		@include box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3)); 
	}
	.navbar-list {
		margin-bottom: 0;
	}
}
.main-logo-container {
	img[src*=".svg"] & .ie9 {
		width: 100%; 
	}
}
.main-logo {
	display: inline-block;
	float: left;
}
.main-logo-icon {
	display: none;
}

.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-logo-container {
	margin-bottom: 25px;
		img[src*=".svg"] & .ie9 {
			width: 100%; 
		}
	}
}


@media (max-width: 300px) {	
	.main-logo-icon {
		display: inline-block;
	}
	.main-logo-normal {
		display: none;
	}
}
@media (max-width: $screen-sm-max) {
	.hero-image {
		img {
//			width: 150%;
		}
	}	
}




@media (max-width: $screen-xs-max) {
	.header-main {
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: $main-nav-height-xs;
	}
	
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.header-main {
		padding-bottom: 20px;
	}
	.main-logo-container {
		margin-bottom: 15px;
	}
	.main-logo {
		float: none;
	}	
}
@media (min-width: $screen-md-min) {
	.header-main {
//		padding-bottom: 10px;
	}
}






