/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	LISTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.list-striped {
	> li:nth-of-type(odd) {
		background-color: $list-striped-bg-color;
	}
}

.list-striped-reversed {
	> li:nth-of-type(even) {
		background-color: $list-striped-bg-color;
	}
}

.list-no-indent  {
	padding-left: 19px;
}

.list-styled {
	> .item {
		margin: 10px 0;
	}
}
