/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAIN - NAVIGATION (MEDIUM+)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$link-sub-padding: 12px;

// Below nav
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    // Nav container - Override Bootstrap
    .navbar-nav {
        float: none;
    } 
}

// Right of nav
@media (min-width: $screen-sm-min) {
    
    // Nav container - Override Bootstrap
    .navbar-nav {
        float: right;
    } 

    // Parent nav - links container
    .navbar-list {
        display: inline-block;

        // Parent nav - individual link container
        > .item {
            float: left;
            position: relative;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:hover {
                .navbar-list-sub {
                    display: block;
                }
            }
        }
        
        // Parent nav - links
        .link {
            padding-top: 7px;
            padding-bottom: 7px;
            border-bottom: 2px solid transparent;
            .template-home & {
                color: $link-color-reverse;
            }
            &.normal {
                &:hover {
                    animation: width 0% > 100%; 
                    background-color: transparent;
                    color: $link-color-emphasize;
                    border-bottom-color: $link-color-emphasize;
                    .template-home & {
                        color: $link-color-emphasize-reverse;
                        border-bottom-color: $link-color-emphasize-reverse;
                    }
                }
                &:focus,
                &:active {
                    border-bottom-color: transparent;
                }
            }
        }
        > .selected {
            .link {
                .navbar & {
                    border-bottom: 2px solid $link-color;
                    .template-home & {
                        color: $link-color-emphasize-reverse;
                        border-bottom-color: $link-color-emphasize-reverse;
                    }
                }
            }
        }

        // Special nav - link
        .emphasize {
            padding-top: 9px;
            padding-bottom: 6px;
            margin-top: -2px;
        }
    }

    // Sub nav - links container
    .navbar-list-sub {
        position: absolute;
        margin-top: -2px;
        padding-top: 20px;
        left: -50%;
        right: -50%;
        z-index: 8;
        &:before {
            // Arrow
            top: 11px;
            
        }

        // Sub nav - individual link container
        .item-sub  {
            $link-sub-padding-extra: ($link-sub-padding * 1.5);
            &:first-child {
                .link-sub {
                    padding-top: $link-sub-padding-extra;
                }
            }
            &:last-child {
                .link-sub {
                    padding-bottom: $link-sub-padding-extra;
                }
            }
        }

        // Sub nav - links
        .link-sub {
            white-space: nowrap;
            padding: $link-sub-padding;
        }
    }
}



@media (min-width: $screen-md-min) {
    .navbar-list {
        margin-top: 10px;
    }   
}