/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAIN - NAVIGATION  (COMMON - SM & MD+)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// TESTING - SHOW SUB NAV
//.item:first-child .navbar-list-sub { display: block; } 

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


// Parent nav links container
.navbar-list {
    font-size: 14px;
    font-family: $font-family-link;
    > .selected {
        .link {
            &.normal,
            &.normal:hover {
                color: $color-slate;
            }
        }
    }   
    // Parent nav links
    .link {
        padding: 18px 10px;
        line-height: 1;
        display: block; 
        text-decoration: none; 
        &:hover {
            text-decoration: none;
        }
        // Special nav link
        &.emphasize {
            background-color: $color-red;
            color: $color-white;
            &:hover {
                color: $color-white;
                background-color: $color-red-darker;
            }
            &:focus,
            &:active {
                 color: $color-white;
                 background-color: $link-focus-color;
            }
        }
    }

    
}

// Sub nav links container
.navbar-list-sub {
    display: none;
    position: relative;
    z-index: 8;
    // Arrow op top
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 9px 8px;
        border-color: transparent transparent $link-color transparent;

    }
    &.alt-arrow-emphasize:before {
        border-color: transparent transparent $link-color-emphasize transparent;
    }



    // Sub nav links
    .link-sub {
        display: block;
        padding: 18px;
        color: $color-white;
        background-color: $link-color;
        &:hover {
            background-color: $link-color-emphasize;
            text-decoration: none;
        }
        &.selected {
            background-color: $link-color-emphasize;
        }
    }
}
