/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PAGE - MAP OF CAMP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#page-map-of-camp {
    .footer {
        margin-top: 0;
    }
}

@media (max-width: $screen-xs-max) {
    #page-map-of-camp {
        main {
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;

        }
        .img-full-width {
            width: 150%;

        }
    }
}
