/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PAGE - CONTACT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#page-contact {
    .main-article {
        margin: 50px auto;
        display: inline-block;
    }
    .col {
        display: inline-block;
        float: left;
        text-align: left;
        &:not(:last-child) {
             margin-right: 50px;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #page-contact {
        .group-2 {
            clear: both;
        }
    }
}



@media (max-width: $screen-xs-max) {
    #page-contact {
        .col {
            clear: both;
        }
        .container {
            text-align: left;
        }
    }
}

