/* BUTTON STYLES */
button, input.cmBlueButton, input.cmGoButton, input.cmCancelDeleteButton {
	height: 22px;
	line-height:18px;
	padding:0 6px 0 6px;
	border:1px solid #b1b1b1;
	border-radius:7px;
	-moz-border-radius:7px;
	margin:0 3px 0 0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	text-shadow: 0 1px 1px white;
	color:#333;
	overflow:visible;
	background-color:#dadada;
	background-image:url(/images/buttons/grey.png);
	background-position:left top;
	background-image:linear-gradient(top, #eee, #ccc);
	background-image:-moz-linear-gradient(top, #eee, #ccc);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#eee),to(#ccc));
	cursor:pointer;}

button:hover, input.cmBlueButton:hover, input.cmGoButton:hover, input.cmCancelDeleteButton:hover {
	color:#fff;
	border:1px solid #555;
	background-color:#305895;
	background-image:url(/images/buttons/blue.png);
	background-image:linear-gradient(top, #4175a8, #224084);
	background-image:-moz-linear-gradient(top, #4175a8, #224084);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#4175a8),to(#224084));
	text-shadow: 0 1px 1px #222;}


/* COLORED BUTTONS */
.cmGoButton:hover {
	background-color:#54941b;
	background-image:url(/images/buttons/green.png);
	background-image:linear-gradient(top, #73BA16, #336b21);
	background-image:-moz-linear-gradient(top, #73BA16, #336b21);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#73BA16),to(#336b21));
	}

.cmEditButton:hover {
	color:#000;
	background-color:#ffca03;
	background-image:url(/images/buttons/yellow.png);
	background-image:linear-gradient(top, #ffdd00, #ffb806);
	background-image:-moz-linear-gradient(top, #ffdd00, #ffb806);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#ffdd00),to(#ffb806));}

.cmCancelDeleteButton:hover {
	background-color:#cb2400;
	background-image:url(/images/buttons/red.png);
	background-image:linear-gradient(top, #f33401, #a61500);
	background-image:-moz-linear-gradient(top, #f33401, #a61500);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#f33401),to(#a61500));}

.cmBackButton:hover {
	background-color:#f47514;
	background-image:url(/images/buttons/orange.png);
	background-image:linear-gradient(top, #ffa01e, #ed560d);
	background-image:-moz-linear-gradient(top, #ffa01e, #ed560d);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#ffa01e),to(#ed560d));}

/* DISABLED BUTTON STATE */
.cmDisabledButton {
	color:#666;}

.cmDisabledButton:hover {
	color:#666;
	background:url(/images/buttons/grey.png);
	border-top:1px solid #ccc;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-left:1px solid #ccc;
	cursor:inherit;
	text-shadow:none !important;
}

/*
BUTTONS WITH GRAPHICS
*/
.cmCreateGuestAccount {
	padding-right:40px;
	padding-left:4px;
	color:#333;
	background:url(/images/buttons/createGuestAccount_grey.png) right;}

.cmCreateGuestAccount:hover {
	color:#fff;
	background:url(/images/buttons/createGuestAccount_green.png) right;}



.cmSendEmail {
	padding-right:30px;
	padding-left:4px;
	color:#333;
	background:url(/images/buttons/sendEmail_grey.png) right;}

.cmSendEmail:hover {
	color:#fff;
	background:url(/images/buttons/sendEmail_green.png) right;}



.cmPrintPDF {
	padding-right:25px;
	padding-left:4px;
	color:#333;
	background:url(/images/buttons/printBatchPDF_grey.png) right;}

.cmPrintPDF:hover {
	color:#fff;
	background:url(/images/buttons/printBatchPDF_green.png) right;}


.cmAddFacebookFriend 
{
	padding-right:25px;
	padding-left:4px;
	color:#333;
	background:url(/images/buttons/addFacebookFriend_grey.png) right;}

.cmAddFacebookFriend:hover 
{
	color:#fff;
	background:url(/images/buttons/addFacebookFriend_green.png) right;}


/*
TOOLBAR
*/
.cmButToolbar {
	padding:4px;
	border-top:1px solid #ccc;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-left:1px solid #ccc;
	background:url(/images/buttons/greyToolbar.png);}

.cmButToolbar button {
	margin-right:1px;}

.cmButToolbar button:hover {
	}

.cmButToolbar select, .cmButToolbar option {
	font-size:10px;}

.cmButToolbar select {
	margin:0 5px;}



/*
BUTTONS FOR REPORTER
*/
.cmRtArrowBut {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/RtArrowBut.png) left;}

.cmRtArrowBut:hover {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/RtArrowBut.png) right;}

.cmLtArrowBut {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/LtArrowBut.png) left;}

.cmLtArrowBut:hover {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/LtArrowBut.png) right;}

.cmUpArrowBut {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/UpArrowBut.png) left;}

.cmUpArrowBut:hover {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/UpArrowBut.png) right;}

.cmDnArrowBut {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/DnArrowBut.png) left;}

.cmDnArrowBut:hover {
	width:19px;
	height:17px;
	padding:0;
	background:url(/images/buttons/DnArrowBut.png) right;}