
/* ######################### */
.modSearch {}

.modSearch .hd {
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:18px;
	padding:3px 5px;
	border-top:1px solid #ccc;
	background:#ddd;}

.modSearch .hd span {
	font-weight:normal;
	text-transform:none;}

.modSearch .bd {}

.modSearch .ft {
	font-size:12px;
	padding:5px 0;
	border-top:1px solid #ccc;}
/* ######################### */



/* ######################### */
.cmCriteria {}

.cmCriteria th {
	color:#000;
	background-color:transparent;
	text-align:right;}

.cmCriteria th,
.cmCriteria td {
	font-size:12px;
	padding:3px 5px;}

table .cmStatus th,
table .cmStatus td {
	background:#eee;}
/* ######################### */



/* ######################### */
.cmFeedback {
	font-size:13px;
	font-weight:bold;}

.cmResultsLegend {
	text-align:right;
	margin:20px 0 5px 0;}

.male,
.modResults .cmResults .male a {
	color:#049;
	font-weight:bold;}

.female,
.modResults .cmResults .female a {
	color:#490;
	font-weight:bold;}

.archived {
	font-style:italic;}

.cmResults {
	width:100%;
	border-bottom:1px solid #ccc;}

.cmResults th,
.modResults .cmResults th a {
	color:#fff;}

.cmResults td a {
	color:inherit;}

.cmResults th,
.cmResults td {
	text-align:center;
	font-size:11px;
	padding:4px 5px;}

.cmResults .odd td {
	background:#ddd;}
/* ######################### */

